body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #b0bb5a;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: hsl(312, 100%, 69%);
  color: white;
  border: none;
  padding: 10px 20px;
}